html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr 1fr;
    /* grid-template-rows: 10vh 80vh 10vh; */
}

header{
    grid-row: 1 ;
    grid-column: 1 / -1;
    border: 1px solid blue;
}

#projectsPane{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border: 1px solid blue;
}

#todoListPane{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    border: 1px solid blue;
}

footer{
    grid-row: 4;
    grid-column: 1 / -1;
    border: 1px solid blue;
}


.quickDisplayDiv
 {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    background-color: aqua;
    margin-bottom: 5px;
    margin-top: 5px;
}

.quickDetailsDiv{
    display: grid;
    grid-template-columns: 40px repeat(2, 150px);
    align-content: center;
}

.quickActionDiv {
    display: grid;
    grid-template-columns: repeat(3, 85px);
    align-content: center;
}

button {
    width: 30px;
    height: 30px;
    text-align: center;
    /* border: 4px solid white; */
    border-color: white;
    font-size: 20px;
    /* background: none; */
}

.quickDispButton{
    width: 50px;
    height: 30px;
    font-size: 1rem;
}

.resetButton,.confirmButton {
    width: 5rem; 
    font-size: 12px;
}

input[type="checkbox"] {
    width: 20px; /* ✅ Adjust width */
    height: 20px; /* ✅ Adjust height */
    align-self: center;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through; /* ✅ Adds strikethrough when checked */
    color: gray; /* Optional: Dim the text color */
}

